@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=IBM+Plex+Sans:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 2560px;
}

:root {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 21px;
}

header {
    padding: 21px 5vw 29px;
    width: 100vw;
}

.menu-desktop {
    display: none;
}

#burger-menu {
    display: none;
}

.burger-menu-cross {
    display: none;
}

.burger-menu {
    position: relative;
    float: right;
}

.menu-mobile ul {
    list-style-type: none;
    width: 100vw;
    top: 50px;
    position: absolute;
    transform: translateX(1500px);
    transition: all 2s ease;
}

input[type="checkbox"]:checked ~ .burger-menu {
    display: none;
}

input[type="checkbox"]:checked ~ .burger-menu-cross {
    display: block;
    position: relative;
    float: right;
}

input[type="checkbox"]:checked ~ .menu-mobile ul {
    transform: translateX(-16px);
}

.menu-mobile li {
    font-size: 16px;
    width: 100vw;
    height: 40px;
    background-color: #0000EC;
}

.menu-mobile a {
    text-decoration: none;
    color: white;
    transition: color 0.5s linear;
}

.menu-mobile a:hover {
    color: black;
}

.main-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding: 0 5vw;
}

.main-title .em-1 {
    text-decoration: line-through;
    font-style: normal;
}

.section-1 p {
    width: 100vw;
    padding: 0 5vw;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: justify;
}

.section-1 .p2 {
    display: none;
}

.section-1 .button {
    width: 288px;
    height: 48px;
    background-color: #00f3bb;
    text-decoration: none;
    font-size: 18px;
    color: black;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
}

.section-1 .button:hover {
    background: linear-gradient(to left, #0000ff, #00f3bb);
    color: white;
}

.clip {
    width: 100vw;
    height: 1203.5px;
    background: linear-gradient(to bottom,  #0000ff, #0000A3);
    clip-path: polygon(100% 0, 100% 98%, 0 100%, 0 2%);
}

.section-2 h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: white;
    padding-top: 64px;
    padding-bottom: 21px;
    margin-left: 5vw;
}

.section-2 .iframe {
    margin-left: 3vw;
    width: 94vw;    
}

.section-3 .transparency-phone {
    height: 519px;
    width: 100vw;
    position: absolute;
    top: 1455px;
}

.section-3 h2 {
    padding: 450.5px 5vw 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.section-3 p {
    width: 100vw;
    padding: 0 5vw;
    font-size: 14px;
    margin-top: 8px;
}

.section-4 h2 {
    padding: 54px 5vw 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.section-4 .photos-container {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 1458px;
    flex-direction: column;
}

.section-4 .wphoto {
    height: 243px;
    width: 100vw;
}

.section-5 h2 {
    padding: 48px 5vw 37px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.section-5 p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.section-5 img {
    height: 104px;
}

.section-5 .themes-container {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 740px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.section-5 .icon {
    display: inline-flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 149px;   
}

.second-clip {
    margin-top: 42px;
    width: 100vw;
    height: 341px;
    background: linear-gradient(to bottom,  #0000ff, #0000A3);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.section-6 h2 {
    padding: 64px 5vw 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: white;
    text-align: center;
}

.section-6 .button {
    width: 288px;
    height: 48px;
    background-color: #00f3bb;
    text-decoration: none;
    font-size: 16px;
    color: black;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-6 .button:hover {
    background: linear-gradient(to left, #0000ff, #00f3bb);
    color: white;
}

footer p {
    margin-top: 24px;
    margin-bottom: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    width: 100vw;
    text-align: center;
}

footer .media-icons {
    margin-left: 14.06vw;
    display: flex;
    width: 71.88vw;
    justify-content: space-between;
    margin-bottom: 31px;
}


@media screen and (min-width: 1024px) {
    header {
        height: 80px;
        padding: 22px 6.94vw 120px;
        width: 100vw;
    }

    .logo {
        width: 36px;
        height: 36px;
    }

    .menu-desktop {
        margin-top: 4px;
        width: 45%;
        display: block;
        position: relative;
        float: right;
    }

    .menu-desktop ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    .menu-desktop a {
        font-size: 16px;
        text-decoration: none;
        color: black;
        transition: color 0.5s linear;
    }

    .menu-desktop a:hover {
        color: #00f3bb;
        text-decoration: line-through;
    }

    .menu-desktop a:active {
        text-decoration: line-through;
        color: #060a24;
        opacity: 56%;
    }
    
    .burger-menu{
        display: none;
    }

    .main-title {
        padding-left: 13.88vw;
        font-size: 64px;
        font-weight: 500;
    }

    .main-title .em-2 {
        color: blue;
        font-style: normal;
    }

    .section-1 .p1 {
        display: none;
    }

    .section-1 p {
        padding-left: 13.88vw;
        padding-right: 0;
        font-size: 16px;
        width: 56.94vw;
        margin-top: 0px;
        margin-bottom: 56px;
    }

    .section-1 .p2 {
        display: block;
        text-align: justify;
    }

    .section-1 .button {
        width: 226px;
        height: 56px;
        margin: 0;
        margin-left: 13.88vw;
        margin-bottom: 5px;
        text-align: center;
        display: flex;
    }

    .clip {
        height: 1042.6px;
        background: linear-gradient(to left,  #0000ff, #0000A3);
        clip-path: polygon(100% 0, 100% 88%, 0 100%, 0 12%);
    }

    .section-2 h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        padding-top: 186px;
        margin-left: 13.88vw;
    }

    .section-2 .iframes {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 536px;
        padding: 10px 5vw;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .section-2 .iframe {
        padding-top: 26px;
        margin-left: 0px;
        width: 40vw;    
    }

    
    .section-3 .transparency-phone {
        height: 660px;
        width: 31.77vw;
        top: 1250px;
        left: 13.88vw;
    }

    .section-3 h2 {
        position: absolute;
        top: 1420px;
        left: 50vw;
        padding: 0;
        font-size: 48px;
        font-weight: 500;
    }

    .section-3 p {
        position: absolute;
        top: 1510px;
        left: 50vw;
        height: 408px;
        width: 464px;
        padding: 0;
        font-size: 16px;
        margin-top: 0;
    }

    .section-4 h2 {
        padding: 554.4px 13.88vw 36px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        font-weight: 500;
    }
    
    .section-4 .photos-container {
        display: inline-flex;
        flex-wrap: wrap;
        height: 728px;
        flex-direction: row;
    }
    
    .section-4 .wphoto {
        height: 364px;
        width: 33.33vw;
    }

    .section-5 h2 {
        padding: 64px 13.88vw 56px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        font-weight: 500;
    }
    
    .section-5 .themes-container {
        margin-left: 13.88vw;
        width: 72.24vw;
        height: 210px;
        flex-direction: row;
    }
    
    .section-5 .icon { 
        justify-content: space-around;
        height: 210px;
        width: 15.9vw;   
    }
    
    .second-clip {
        margin-top: 34px;
        height: 518px;
        background: linear-gradient(to left,  #0000ff, #0000A3);
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    }

    .section-6 h2 {
        padding: 213px 13.88vw 36px;
        font-size: 48px;
    }
    
    .section-6 .button {
        width: 345px;
        height: 56px;
        font-size: 18px;
    }

    footer p {
        margin-top: 36px;
        margin-left: 6.94vw;
        font-size: 16px;
        text-align: justify;
        width: 50vw;
    }

    footer .media-icons {
        position: relative;
        float: right;
        bottom: 43px;
        margin-left: 0;
        margin-right: 6.94vw;
        width: 16.25vw;
        margin-bottom: 0;
    }

}

